body {
  color: #000000c7;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.preview {
  display: inline-block;
  width: 50vh;
  height: 80vh;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
}
.previewImage {
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.thumbnailBox {
  width: 6vh;
  height: 5vh;
  border-radius: 10px;
  float: left;
}
.thumbnail {
  border-radius: 5px;
  height: 5vh;
  width: 100%;
  align-items: center;
  object-fit: cover;
}
.listItem {
  height: 5vh;
  width: 100%;
  border-radius: 5px;
  margin: 1vh;
}
.sideBar {
  float: left;
}
.selected {
  height: 5vh;
  background-color: rgb(3, 143, 236);
  color: white;
}
#ruler {
  visibility: hidden;
}
.textBox {
  display: inline-block;
  padding-top: 1.8vh;
}
span::before,
span::after {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  white-space: nowrap;
}
span::before {
  content: attr(dataContentStart);
  text-overflow: ellipsis;
}
span::after {
  content: attr(dataContentEnd);
  text-overflow: "";
  direction: rtl;
}
