body {
  text-decoration: solid;
  color: rgba(0, 0, 0, 0.781);
  font-size: large;
}
.main {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.preview {
  margin-left: 1%;
  width: 600px;
  height: 800px;
  border-radius: 10px;
  text-align: center;
}
.previewImage {
  height: 800px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.thumbnailBox {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.thumbnail {
  border-radius: 5px;
  height: 45px;
  width: 100%;
  object-fit: cover;
}
.listItem {
  height: 52px;
  width: 100%;
  margin: 2px;
  padding-top: 5px;
  border-radius: 5px;
}
.sideBar {
  float: left;
}
.selected {
  background-color: rgb(3, 143, 236);
  color: white;
}
.textBox {
  width: 350px;
}
