body {
  color: #000000c7;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  gap: 1vh;
}
.preview {
  border-radius: 10px;
  height: 80vh;
  flex-basis: 50vh;
  max-width: 50vh;
  text-align: center;
  position: relative;
}
.previewImage {
  position: relative;
  height: 80vh;
  width: 50vh;
  border-radius: 10px;
  object-fit: cover;
}
.sidebar {
  flex-basis: 20vh;
  height: 80vh;
  position: relative;
}
.list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1vh;
  width: inherit;
  height: 100%;
  align-content: center;
}
.listItem {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  height: 6vh;
  width: 20vh;
}
.thumbnailBox {
  border-radius: 5px;
  position: relative;
  width: 5vh;
  height: 5vh;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 1vh;
  margin-left: 1vh;
}
.thumbnail {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  object-fit: cover;
  width: 5vh;
  height: 5vh;
}
.selected {
  color: white;
  background-color: rgb(3, 143, 236);
}
.textBox {
  word-break: break-all;
  white-space: normal;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.textBoxWrapper {
  white-space: nowrap;
  display: inline-block;
  position: relative;
}
